# Archivos del sistema
.DS_Store
Thumbs.db

# Dependencias
node_modules/
package-lock.json

# Archivos de IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de log
*.log
npm-debug.log*

# Archivos de entorno
.env
.env.local
.env.*.local

# Archivos temporales
*.tmp
*.temp
*.swp

# Archivos de compilación
dist/
build/
*.min.js
*.min.css 