html{
    font-size: 10px;
}

body{
    font-family: Montserrat;
    font-size: 1.6rem;
    background-color: #E8EFFA;
    padding: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.layout__title{
    color: #018AD9;
    font-size: 5rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.layout__date{
    color: black;
    font-size: 6rem;
    font-weight: 900;
    margin-bottom: .1rem;
}

.layout__time{
    color: black;
    font-size: 4rem;
    font-weight: 900;
}

