body{
    font-family: 'Times New Roman', Times, serif;
    background: aliceblue;
}


.article{
    width: 250px;
    height: 250px;
    margin: 20px;
    padding: 20px;
    background: aquamarine;
    float: left;
    text-align: center;
}

.clear_float{
    float: none;
    clear: both;
}